*{
    padding: 0;
    margin: 0;  
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

body{
    position: absolute;
    width: 100vw;
    height: 1024px;
    background: #f3f5fc;
}

main{
    display: flex;
    width: 100vw;
    height: 89.7%;
}

.logo{
    width: 31.09px;
    position: absolute;
    left: 5.84%;
    top: 3.91%;
}

.areatexto{
    position: absolute;
    width: 42.67%;
    height: 59.58%;
    left: 16.67%;
    top: 16.41%;
    border: none;
    background-color: #f3f5fc;
    color: #0a3871;
}

.areatexto::placeholder {
    color: #0a3871;
}

.areatexto:focus, .areatexto:active{
    outline: none;
}

.aclaracion{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.4%;
    position: absolute;
    width: 45%;
    left: 16.67%;
    top: 81.03%;   
}

.aclaracion h6{
    font-size: 53.06%;
    font-style: italic;
    color: #495057;
    opacity: 0.8;
}

.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: absolute;
    gap: 3.1%;
    width: 47.22%;
    left: 16.67%;
    top: 86.43%;
    height: 6.55%;
}

.boton-encriptar, .boton-desencriptar{
    width: 48.23%;
    height: 100%;
    border-radius: 24px;
    cursor: pointer;
    text-align: center;
    font-size: 60%;
    font-weight: bold;
    font-style: normal;
    transition: 0.3s all;
}

.boton-encriptar{
    background-color: #0a3871;
    border: 1px solid black;
    color: white;
}

.boton-desencriptar{
    background-color: #d8dfe8;
    border: 1px solid #0a3871;
    color: #0a3871;
}

@media screen and (min-width: 1281px){
    .boton-encriptar:hover{
        background-color: white;
        border-color: black;
        color: black;
        transform: scale(1.1);
    }    

    .boton-desencriptar:hover{
        background-color: black;
        border-color: white;
        color: white;
        transform: scale(1.1);  
    }

    .boton-encriptar:active{
        color: rgba(128, 30, 255, 0.829);
    }

    .boton-desencriptar:active{
        color: rgba(30, 255, 255, 0.829);
    }
}

@media screen and (min-width: 1024px) and (max-width: 1280px){
    .boton-encriptar:active{
        background-color: white;
        border-color: black;
        color: black;
        transform: scale(1.1);
    }

    .boton-desencriptar:active{
        background-color: black;
        border-color: white;
        color: white;
        transform: scale(1.1);
    }
}

.seccionencriptado{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 27.78%;
    height: 92.19%;
    left: 69.44%;
    top: 3.91%;
    background: white;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.munheco{
    display: flex;
    position: absolute;
    width: 84%;
    height: 32.2%;
    top: 25.74%;
}

.mensajeencriptado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    position: absolute;
    width: 84%;
    height: 12.93%;
    top: 61%;
    text-align: center;
}

#titulo-mensaje{
    width: 100%;
    height: 58px;
    font-weight: 700;
    font-size: 74.9%;
    line-height: 120%;
    color: #343A40;
}

@media screen and (min-width: 1567px) {
    #titulo-mensaje{
        line-height: inherit;
    }
}

#post-mensaje{
    width: 100%;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #495057;
}

.mensajefinal{
    display: none;
    position: absolute;
    width: 84%;
    height: 82.73%;
    top: 3.39%;
    left: 8%;
    border: none;
    background-color: white;
    color: #495057;
    font-size: 24px;
}

.mensajefinal:focus, .areatexto:active{
    outline: none;
}

.boton-copiar{
    position: absolute;
    display: none;
    width: 84%;
    height: 7.10%;
    top: 89.5%;
    left: 8%;
    border-radius: 24px;
    border: 1px solid #495057;
    background-color: white;
    color: #495057;
    text-align: center;
    font-size: 60%;
    font-weight: bold;
    font-style: normal;
    transition: 0.3s all;
}

@media screen and (min-width: 1281px){
    .boton-copiar:hover{
        background-color: #f3f5fc;
        border-color: #0a3871;
        color: #0a3871;
        transform: scale(1.1);
    }
    
    .boton-copiar:active{
        color: rgba(207, 65, 254, 0.829);
    }
}

@media screen and (max-width: 1280px){
    .boton-copiar:active{
        background-color: #f3f5fc;
        border-color: #0a3871;
        color: rgba(104, 185, 247, 0.829);
        transform: scale(1.1);
    }
}


/* Responsive design for Tablets */


@media screen and (max-width: 1023px){
    body{
        width: 100vw;
        height: 1384px;
    }

    .logo{
        left: 5.21%;
        top: 74.97px;
    }

    .areatexto{
        width: 89.58%;
        height: 554px;
        left: 5.21%;
        top: 240px;
        font-size: 32px;
    }

    .aclaracion{
        width: 50%;
        left: 5.21%;
        top: 815px;
    }

    .aclaracion h6{
        font-size: 20px;
    }

    .botones{
        width: 89.58%;
        height: 67px;
        left: 5.21%;
        top: 870px;
        gap: 3.13%;
    }

    .boton-encriptar, .boton-desencriptar{
        width: 48.42%;
    }
    
    .boton-encriptar:active{
        background-color: white;
        border-color: black;
        color: black;
        transform: scale(0.9);
    }

    .boton-desencriptar:active{
        background-color: black;
        border-color: white;
        color: white;
        transform: scale(0.9);
    }

    .seccionencriptado{
        flex-direction: row;
        align-items: flex-start;
        width: 89.58%;
        height: 343px;
        left: 5.21%;
        top: 1001px;
        gap: 6.54%;
    }

    .munheco{
        left: 6.54%;
        top: 46px;
        width: 37.79%;
        height: 251px;
    }

    .mensajeencriptado{
        width: 43.6%;
        height: 126px;
        top: 100px;
        left: 50.14%;
    }

    #titulo-mensaje{
        width: 100%;
        height: 66px;
        font-size: 28px;
    }

    .mensajefinal{
        width: 90.70%;
        height: 180px;
        top: 32px;
        left: 4.65%; 
    }
    
    .boton-copiar{
        width: 90.70%;
        height: 67px;
        top: 244px;
        left: 4.65%;
    }

    .boton-copiar:active{
        transform: scale(0.9);
    }
}


/* Responsive design for Cell phones */


@media screen and (max-width: 767px) {
    body{
        width: 100vw;
        height: 1715px;
    }

    header{
        width: 100%;
        height: 96px;
    }

    .logo{
        position: relative;
        width: 32px;
        top: 25%;
        left: 4.27%;
    }

    .areatexto{
        width: 91.46%;
        height: 640px;
        font-size: 32px;
        top: 152px;
        left: 4.27%;
    }

    .aclaracion{
        width: 80%;
        left: 4.27%;
        top: 820px;
    }

    .aclaracion h6{
        font-size: 13px;
    }

    .botones{
        flex-direction: column;
        width: 91.46%;
        height: 158px;
        left: 4.27%;
        align-items: center;
        top: 874px;
        gap: 24px;
    }

    .boton-encriptar, .boton-desencriptar{
        width: 100%;
        max-width: 500px;
    }

    .seccionencriptado{
        flex-direction: column;
        width: 91.47%;
        height: 595px;
        left: 4.27%;
        top: 1096px;
        gap: 32px;
    }

    .munheco{
        left: 8.75%;
        top: 98px;
        width: 82.5%;
        height: 251px;
    }

    .mensajeencriptado{
        width: 80.42%;
        height: 122px;
        top: 378px;
        left: 9.79%;
    }

    #titulo-mensaje{
        font-size: 24px;
        line-height: inherit;
    }

    .mensajefinal{
        width: 81.34%;
        height: 432px;
        top: 32px;
        left: 9.33%; 
    }
    
    .boton-copiar{
        width: 81.34%;
        height: 67px;
        top: 496px;
        left: 9.33%;
    }
}

@media screen and (max-width: 498px) {
    #titulo-mensaje{
        line-height: 120%;
    }
}
